@media (min-width: 992px){
body{
    background:black;
    color:white;
    font-family: 'Sniglet', cursive;
    text-align: center;
    margin:0;
    padding:0;
    height:100%;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
header{
    background: #2bcdc0;
    height:50%; 
    margin-top:-2%;
    position: relative;
}
    

h1{
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.links{
    padding-top:4%;
}

section{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    width: 90%; 
    margin-left:5%;
    
}
section > div{
    width:12%;
}

#blue{
 margin-top:30%;
 width:100%;
 height: 12%;
 background:#33a8dd
}

#orange{
 margin-top:30%;
 width:100%;
 height: 12%;
 background:#f46731;
}

#green{
 margin-top:30%;
 width:100%;  
 height: 12%; 
 background:#2bcdc0;
}
}

@media (max-width: 576px) { 
body{
    background:#f7f5f6;
    font-family: 'Sniglet', cursive;
    text-align: center;
    margin:0;
    padding:0;;
    position: absolute;
}
header{
    background:#33a8dd; 
    margin-top:-2%;
    position: relative;
    padding:20%;
}
section{
    display:flex;
    flex-direction: column;
    width: 90%; 
    margin-left:35%;
}
section > div{
    width:40%;
}

#blue{
 margin-top:50%;
 width:100%;
 height: 12%;
 background:#33a8dd;
 border-top:20px solid #33a8dd;
}

#orange{
 margin-top:30%;
 width:100%;
 height: 12%;
 background:#f46731;
 border-top:20px solid #f46731;
}

#green{
 width:100%;
 height: 12%;
 background:#2bcdc0;
 border-top:20px solid #2bcdc0;
}
}