header {
    background-color: lightblue;
    grid-area: header;
  }
  main {
    background-color: pink;
    min-height: calc(100vh - 54px);
    grid-area: main;
  }

  nav {
    background-color: lightsalmon;
    grid-area: nav;
  }
  aside {
   
    grid-area: aside;
    width:50%;
    grid-area:right;
  }
  .banner {
    background-color: lavender;
    grid-area: banner;
  }
  footer {
    background-color: khaki;
    grid-area: footer;
  }
  
  .container {
    display: grid;
    grid-template-areas: 
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
  }
  
  #calculator{
position: relative;
background: gray;
border-radius: 5px;
text-align: center;
height:130px;
width:120px;
margin:4px;
  }
  #displaybox{
    width:100px;
    margin 6px auto;
    border-radius:4px;
    padding:2px;
  }    
  #calculator > button {
    display: grid;
    grid-template-columns: 1fr 1fr  1fr 1fr;
    grid-gap:3em;
    height: 20px;
    width: 20px;


  }

  #displaybox2{
    width:87px;
    border-radius: 5px;
  }
  .button{
    margin:2px;
        box-align:center;
        height: 20px;
        width: 20px;

  }
  
  #buttonclear{
    margin:2px;
        box-align:center;
        height: 20px;
        width: 40px;
  }
  
  #calculator2  {
    background: purple;
    height:140px;
    width:105px;
    margin-top: 5px;
    margin-bottom:10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    box-align: center;
    text-align: center;
  }

 
	.clock{
		position: absolute;
		width: 100px;
		height: 100px;
		background-color: black;
		border-radius: 100%;
		background-image: url("http://junesiphone.com/images/clock.png");
    background-size: 100px;

	}
	.transform{
		width: 2px;
		position: absolute;
		left:49px;
		
	}
	#s{
		top:9px;
		background-color: red;
		height: 40px;
	}
	#m{
		top:19px;
		background-color: black;
		height: 30px;
	}
	#h{
		top:24px;
		background-color: black;
		height: 25px;
	}
	#center{
		position: absolute;
		right:45px;
		top:45px;
		width: 10px;
		height: 10px;
		background-color: black;
    border-radius: 100%;
    
	}

html{background:#393939}
 
  ul {list-style-type: none;}
  body {font-family: Verdana, sans-serif;}
  
  
  .month {
    margin-top: 120px;
   
    background:lightslategray;
    text-align: center;
  }
  
  
  .month ul {
    margin: 0;
    padding: 0;
  }
  
  .month ul li {
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
  }
  
  
  .month .prev {
    float: left;
    padding-top: 10px;
  }
  
  .month .next {
    float: right;
    padding-top: 10px;
  }
  
  
  .weekdays {
    margin: 0;
    padding: 10px 0;
    background-color:#ddd;
  }
  
  .weekdays li {
    display: inline-block;
    width: 13.6%;
    color: #666;
    text-align: center;
  }
  
  
  .days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
  }
  
  .days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 5px;
    font-size:12px;
    color: #777;
  }
  
  
  .days li .active {
    padding: 5px;
    background: #1abc9c;
    color: white !important
  }
  
  #todo {
   
    font-size:15px;
    text-align: center;
    top:150px;
    right:450px;
    height: 100px;
    width:20%;
    padding-bottom: 150px;
    
  }
 
    @media (min-width: 400px) {
      .container {
        grid-template-columns: 1fr 3fr;
        grid-template-areas: 
          "header  header"
          "nav     nav"
          "aside   main"
          "banner  footer";
      }
      aside {
   
        grid-area: aside;
        width:70%;
        grid-area:right;
      }
    }
    
  
