
body{
    background:lightgrey;
}
header{
    
    display:flex;
    flex-direction:row;
    align-content: flex-end;
    justify-content:center;
    background:mediumspringgreen;
    
    

}
.logo{
    position: relative;
    right:50px;
    padding-top: 5px;
    padding-left:10px;
    padding-right:20px;
    height:8%;
    width:9%;
    

}

 button{
    position: relative;
    top:20px;
    height:20%;
    width: auto%;
    font-size: 20px;  
    background: transparent;
    padding: 30px; 
    padding-top:20px;
    letter-spacing: 7px

}
#topbox{
    
    
    border:2px solid black;
    width: 73%;
    height: 90%;
    font-size:70px;
    display:flex;
    margin-top:5%;
    margin-left:13%;
    margin-bottom:2%;

    
}

#topbox p {
    margin: 10% auto;
}

.curl{
    height: 400px;
    width: auto;
    margin-right:5%;

}

#info{

    display:flex;
    height: 324px;
    width: 73%;
    flex-direction: row;
    justify-content:space-around;
    margin-left:13%;
    margin-bottom:2%;
    padding-left: 2%;
    

}

.flip{
    height:140px;
    width: auto;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
    
}

.magz{
    height:140px;
    width:160px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

.pink{
    height:140px;
    width:160px;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}
.shadow{
    height:140px;
    width:auto;
    border: 2px solid black;
    box-shadow: 10px 10px 5px grey;
}

#info > div{
 margin-right:7%;
}

#Featured{
    display:grid;
    height: auto;
    width: 425px;
    margin-top: 7%;
    margin-left:13%;
    margin-bottom:2%;
    border:2px solid black;
    padding:0 2% 0 2%;
}

.hairstuff{
  display:grid;
  height:130px;
  width:auto;  
  border-radius: 10%;
  margin-left: 0%;
  position: relative;
}
#Featured >h2{
    margin-top: -15px;
    margin-left:5px;    
    top: -5px;
    border:2px solid black;
    width:22%;
    background:mediumspringgreen;  
    
}

#Featured >h3{
    display:flex;
    flex-direction:row;
    align-content: flex-end;
    justify-content:flex-end;
    margin-top: -20%;
    padding-right: 6%;
}

#hairstyle{
    display:grid;
    height: auto;
    width: 425px;
    margin-top: -40.5%;
    margin-left:53%;
    margin-bottom:2%;
    border:2px solid black;
    padding:0 2% 0 2%;
}

#hairstyle >h2{
    margin-top: -15px;
    margin-left:5px;    
    top: -5px;
    border:2px solid black;
    width:22%;
    background:mediumspringgreen;  
    
}

#questions {
    height: 320px;
    width: 425px;
    margin-top: 2%;
    margin-left:53%;
    margin-bottom:2%;
    border:2px solid black;
    padding:0 2% 0 2%;
    font-size: 17px;
}
#questions >p {
    margin-right:50%;
    margin-top:-60%;
}
.wondering{
    position: relative;
    padding-top:8%;
    height:250px;
    width:auto;
    border-radius: 30%;
    margin-left:54%;
   
  


}

footer{

    display:flex;
    flex-direction:row;
    align-content: flex-end;
    justify-content:center;
    background:mediumspringgreen;
    margin-top: 10%;
    
.fa {
    display:grid;
    justify-context:space-between;
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
 
 
  
 
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  

  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  
  
  .fa-instagram {
    background: #125688;
    color: white;
  }
  
  .fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }
}
@media(max-width:1030px){
    body{
        background:lightgrey;
    }
    header{
        
        header{
            width: 85%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            background: mediumspringgreen;
            position: relative;
        }
        
        
    
    }
    .logo{
        position: relative;
        right:50px;
        padding-top: 5px;
        padding-left:10px;
        padding-right:20px;
        height:8%;
        width:9%;
        margin-left: 5%;
        
    
    }
    
     button{
        position: relative;
        top:20px;
        height:20%;
        width: auto%;
        font-size: 20px;  
        background: transparent;
        padding: 30px; 
        padding-top:20px;
        letter-spacing: 7px
    
    }
    #topbox{
        
        
        border:2px solid black;
        width: 60%;
        height: 90%;
        font-size:40px;
        display:flex;
        margin-top:5%;
        margin-left:13%;
        margin-bottom:60%;
    
        
    }
    
    #topbox p {
        margin: 10% auto;
    }
    
    .curl{
        height: 400px;
        width: auto;
        margin-right:5%;
    
    }
    
    #info{
        display:flex;
        height: 324px;
        width: 50%;
        flex-direction: column;
        justify-content:space-inbetween;
        margin-left:25%;
        margin-bottom:59%;
        padding-left: 2%;
        
    
    }
    
    .flip{
        height:140px;
        width: auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
        
    }
    
    .magz{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    .pink{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    .shadow{
        height:140px;
        width:auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    #info > div{
     margin-right:7%;
    }
    
    #Featured{
        display:grid;
        height: auto;
        width: 300px;
        margin-top: 15%;
        margin-left:1%;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
    }
    
    .hairstuff{
      display:grid;
      height:130px;
      width:auto;  
      border-radius: 10%;
      margin-left: 0%;
      position: relative;
    }
    #Featured >h2{
        margin-top: -15px;
        margin-left:5px;    
        top: -5px;
        border:2px solid black;
        width:38%;
        background:mediumspringgreen;  
        
    }
    
    #Featured >h3{
        display:flex;
        flex-direction:row;
        align-content: flex-end;
        justify-content:flex-end;
        margin-top: -20%;
        padding-right: 6%;
    }
    
    #hairstyle{
        display:grid;
        height: auto;
        width: 200px;
        margin-top: -84%;
        margin-left:48%;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
    }
    
    #hairstyle >h2{
        margin-top: -15px;
        margin-left:5px;    
        top: -5px;
        border:2px solid black;
        width:60%;
        background:mediumspringgreen;  
        
    }
    
    #questions {
        height: 300px;
        width: 200px;
        margin-top: 2%;
        margin-left:48%;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
        font-size: 17px;
    }
    #questions >p {
        margin-right:3%;
        margin-top:15%;
    }
    .wondering{
        position: relative;
        padding-top:8%;
        height:150px;
        width:auto;
        border-radius: 30%;
        margin-left:3%; 
        
    }
}

footer{
    width: 90%;
    display:flex;
flex-direction:row;
align-content: flex-end;
justify-content:center;
background:mediumspringgreen;
margin-top: 30%;


}

  @media (max-width: 700px) {
    body{
        position: absolute;
        background:lightgrey;
    }
    header{
        width: 500px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: mediumspringgreen;
        position: relative;
    }
    .logo{
        display: absolute;
        height:20%;
        width:20%;
    }
    .nav {
        width: 120px;
        position: absolute;
        top: -10px;
        left: 90px;
    
    }
     button{
        left:10%;
        width: 50%;
        font-size: 12px;  
        background: transparent;
        padding: 1%; 
        letter-spacing: 1px;   
       
    }
    #topbox{
        display:grid;
        grid-template-rows: 2%;
        
        border:2px solid black;
        width:  auto%;
        height: 90%;
        font-size:22px;
        display:flex;
        margin-top:10%;
        margin-left:3%;
        margin-bottom:1%;
    
        
    }
    
    #topbox p {
        margin: 10% auto;
    }
    
    .curl{
        height: 200px;
        width: auto;
        margin-right:5%;
    
    }
    
    #info{
    
        display:absolute;
        height: 324px;
        width: 50%;
        flex-direction: column;
        justify-content:space-around;
        margin-left:3%;
        margin-bottom:600px;
        margin-top:600px;
        padding-left: 2%;
        
    
    }
    
    .flip{
        height:140px;
        width: auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
        
    }
    
    .magz{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    .pink{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    .shadow{
        height:140px;
        width:auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    #Featured{
        height: auto;
        width: 200px;
        margin-bottom:1%;
        border:2px solid black;
        padding:0 2% 0 2%;
        margin-left:3%;
        margin-top: 13+0%;
    }
    
    .hairstuff{
      display:grid;
      height:130px;
      width:auto;  
      border-radius: 10%;
      margin-left: 0%;
      position: relative;
      margin-bottom:2%;
    }
    #Featured >h2{   
        top: -5px;
        border:2px solid black;
        width:60%;
        background:mediumspringgreen;  
        
    }
    
    #Featured >h3{
        display:flex;
        flex-direction:row;
        align-content: flex-end;
        justify-content:flex-end;
        margin-top: -20%;
        padding-right: 6%;
    }
    
    #hairstyle{
        display:grid;
        height: auto;
        width: 200px;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
        margin:10% 0 4% 3%;
    }
    
    #hairstyle >h2{
        margin-top: -15px;
        margin-left:5px;    
        top: -5px;
        border:2px solid black;
        width:70%;
        background:mediumspringgreen;  
        
    }
    
    #questions {
        height: auto;
        width: 200px;
        margin-left:3%;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
        font-size: 17px;
    }
    #questions >p {
        margin-right:50%;
        margin-top:-60%;
    }
    .wondering{
        position: relative;
        padding-top:8%;
        margin-bottom:60%;
        height:200px;
        width:auto;
        border-radius: 30%;
        margin-left:5%;
       
      
    
    
    }
    

  }


  @media (max-width: 400px) {
    body{
        position: absolute;
        background:lightgrey;
    }-

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        background: mediumspringgreen;
        position: relative;
    }
    .logo{
        display: absolute;
        left:-4%;
        height:20%;
        width:20%;
    }
    .nav {
        width: 120px;
        position: absolute;
        top: -18px;
        left: 120px;
    
    }
     button{
        left:2%;
        width: 60%;
        font-size: 12px;  
        background: transparent;
        padding: 1%; 
        letter-spacing: 1px;
        
    }
    #topbox{
        display:grid;
        grid-template-rows: 2%;
        
        border:2px solid black;
        width:  300px;
        height: 90%;
        font-size:22px;
        display:flex;
        margin-top:10%;
        margin-left:2%;
        margin-bottom:20%;
    
        
    }
    
    #topbox p {
        margin: 10% auto;
    }
    
    .curl{
        height: 200px;
        width: auto;
        margin-right:5%;
    
    }
    
    #info{
    
        display:absolute;
        height: 324px;
        width: 50%;
        flex-direction: column;
        justify-content:space-around;
        margin-left:3%;
        margin-bottom:670px;
        margin-top:660px;
        padding-left: 2%;
        
    
    }
    
    .flip{
        height:140px;
        width: auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
        
    }
    
    .magz{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    .pink{
        height:140px;
        width:160px;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    .shadow{
        height:140px;
        width:auto;
        border: 2px solid black;
        box-shadow: 10px 10px 5px grey;
    }
    
    #Featured{
        height: auto;
        width: 200px;
        margin-bottom:1%;
        border:2px solid black;
        padding:0 2% 0 2%;
        margin-left:3%;
        margin-top: 14%;
    }
    
    .hairstuff{
      display:grid;
      height:130px;
      width:auto;  
      border-radius: 10%;
      margin-left: 0%;
      position: relative;
      margin-bottom:2%;
    }
    #Featured >h2{   
        top: -5px;
        border:2px solid black;
        width:60%;
        background:mediumspringgreen;  
        
    }
    
    #Featured >h3{
        display:flex;
        flex-direction:row;
        align-content: flex-end;
        justify-content:flex-end;
        margin-top: -20%;
        padding-right: 6%;
    }
    
    #hairstyle{
        display:grid;
        height: auto;
        width: 200px;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
        margin:10% 0 4% 3%;
    }
    
    #hairstyle >h2{
        margin-top: -15px;
        margin-left:5px;    
        top: -5px;
        border:2px solid black;
        width:60%;
        background:mediumspringgreen;  
        
    }
    
    #questions {
        height: auto;
        width: 200px;
        margin-left:3%;
        margin-bottom:2%;
        border:2px solid black;
        padding:0 2% 0 2%;
        font-size: 17px;
    }
    #questions >p {
        margin-right:50%;
        margin-top:-60%;
    }
    .wondering{
        position: relative;
        padding-top:8%;
        margin-bottom:60%;
        height:200px;
        width:auto;
        border-radius: 30%;
        margin-left:5%;
      
    }
    footer{
        width: 100%;
        display:flex;
    flex-direction:row;
    align-content: flex-end;
    justify-content:center;
    background:mediumspringgreen;
    margin-top: 10%;
    

    }

  }