body{
    background:black;
}
header{
     
    display:flex;
    flex-direction:row;
    justify-content:center;
    background:rgb(61, 241, 232);
    font-size:30px;   
    height: 150px;
    width:auto;
}
header >h1{
    margin:50px 0 0 0;
}

section{
    display:flex;
    flex-direction:row;
    justify-content: center;
    margin:3px 3px 3px 3px;
}

a{  display:flex;
    flex-direction:column;
    justify-content: center;
    font-size:20px;
    color:black;
  }
iframe{
    margin:30px 5px 5px 3px;
    width:560; height:315;
}


form {
    
    max-width: 500px;
    background:lightgray;
    padding: 25px 15px 25px 10px;
    font: 12px Georgia, "Times New Roman", Times, serif;
    color: black;
    text-shadow: 1px 1px 1px #FFF;
    border:2px solid #E4E4E4;
}
h1 {
    font-size: 25px;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom:1px solid #E4E4E4;
    margin: -10px -15px 30px -10px;;
    color: #black;
}
h1>span {
    display: block;
    font-size: 11px;
}
label {
    display: block;
    margin: 0px;
}
label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    color: #black;
}
input[type="text"], input[type="email"], input[type="location"], textarea, select {
    border: 1px solid #DADADA;
    color: #888;
    height: 30px;
    margin-bottom: 16px;
    margin-left: 15px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 70%;
    font-size: 12px;
    line-height:15px;
    box-shadow: inset 0px 1px 4px #ECECEC;
    -moz-box-shadow: inset 0px 1px 4px #ECECEC;
    -webkit-box-shadow: inset 0px 1px 4px #ECECEC;
}
textarea{
    padding: 5px 3px 3px 5px;
}
select {
    background: #FFF url('down-arrow.png') no-repeat right;
    background: #FFF url('down-arrow.png') no-repeat right);
    appearance:none;
    -webkit-appearance:none; 
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    line-height: 25px;
}
textarea{
    height:100px;
}
.button {
    background: #E27575;
    border: none;
    padding: 10px 25px 10px 25px;
    margin-bottom:10px;
    color: #FFF;
    box-shadow: 1px 1px 5px #B6B6B6;
    border-radius: 3px;
    text-shadow: 1px 1px 1px rgb(212, 66, 66);
    cursor: pointer;
}
.button:hover {
    background: rgb(255, 13, 13)
}

@media (max-width: 800px){
header{ width:96%; 
}
section{
    display:flex;
    flex-direction:column;
    justify-content: center;
    width:40%;
}

iframe{
    width:60%;
    height:50% ;
}



}